html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color:white!important;
    font-family: 'Arya', sans-serif !important;
    background-color: #000000;
}

hr { 
	border: 1px solid black;
    width: 20%;
 }

label {
	color:black!important;
}

/* .btn:link,
.btn.visited{
    background-color: #1C9FAC;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}  */

.btn:hover {
    background-color:#f38b15;
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.formular{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

}

.submit{
	margin-bottom: 3vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 136, 0);
}

.formwidth{
width:50%;
}


@media only screen and (max-width: 600px) {
    .formwidth {
        width:100%;
    }
}
.btn, .btn-large{
    background-color: rgba(243, 136, 13, 0.945);
    color: black;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
 border-bottom: 1px solid black;   
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown{
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}
.bgformular{
	margin-top:1%;
	border-radius:15px;
	padding:2%;
    background-color: rgba(243, 136, 13, 0.945);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.textform{
	 padding:2%;
     margin-bottom:5%;
     font-weight:bolder;
     color:black;
	}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 rgb(255, 136, 0);
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color:rgb(255, 136, 0);
}
input[type="checkbox"] {
    border-right: 2px solid rgb(255, 136, 0);
    border-bottom: 2px solid rgb(255, 136, 0);
  }
  input[type="checkbox"]:checked {
    border-right: 2px solid rgb(255, 136, 0);
    border-bottom: 2px solid rgb(255, 136, 0);
  }
/* [type="checkbox"]:checked+label:before {
    border-right: 2px solid #1C9FAC;
    border-bottom: 2px solid #1C9FAC;
    } */

a {
	color:#d12828;
}

.loader {
	border: 16px solid rgb(255, 136, 0);
	border-radius: 50%;
	border-top: 16px solid rgb(255, 136, 0);
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 1.3s linear infinite;
	margin: 0 auto;
	display: none;
  }

  .cent {
	  margin: 0 auto;
  }
  
  
  /* Scroll Bar CSS */
  ::-webkit-scrollbar {
      width: 8px;
      height: 4px;
  }
  ::-webkit-scrollbar-button {
      width: 0;
      height: 0;
  }
  ::-webkit-scrollbar-thumb {
      background: rgb(255, 136, 0);
      border: 0 none #ffffff;
      border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(255, 136, 0);
  }
  ::-webkit-scrollbar-thumb:active {
      background: rgb(255, 136, 0);
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
      border: 0 none #ffffff;
  
  }
  ::-webkit-scrollbar-track:hover {
      background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
      background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  #errors-container {
    color: red;
  }
  [type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid rgb(255, 136, 0);
    border-bottom: 2px solid rgb(255, 136, 0);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}